@charset "UTF-8";

@font-face {
    font-family: 'Bitcount Prop Double Ink';
    src: url("Bitcount_Prop_Double_Ink/BitcountPropDoubleInk-font.ttf") format("trueType");
}

/* Structural Styles */
html {
    background-color: #333A3F;
    text-align: center;
}

h1 {
    color: beige;
    font-family: "Bitcount Prop Double Ink", system-ui;
    font-weight: 400;
    font-size: 4em;
    margin-bottom: 30px;
}

h2 {
    color: beige;
    font-family: "Bitcount Prop Double Ink", system-ui;
    font-weight: 400;
    font-size: 2em;
    margin-top: 0px;
}

#credit {
    position: absolute;
    right: 10px;
    top: 0px;

    color: white;
    text-align: left;
}

#donation {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);

    color: beige;
    font-size: 0.7em;
}

#click-here {
    color: hsl(219, 82%, 53%);
}

#Game-Mania {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 75px;
}

#games-container {
    display: flex;
    justify-content: center;
}

#tic-tac-toe {
    transition: all 0.25s;
}

#tic-tac-toe:hover {
    cursor: pointer;
    scale: 1.1;
}

#Slots{
    position: absolute;
    bottom: 190px;
    left: 660px;
    width: 180px;
    height: 140px;
}

